<footer class="footer my-5">
    <div class="container">
        <div class="text-muted">
            <div class="row">
                <div class="col-3">
                    Telephone<br>
                    +49 8031 221 0550
                </div>
                <div class="col-3">
                    Fax
                    <br> +49 8031 221 0550
                </div>
                <div class="col-3">
                     Address
                    <br> Mumbai
                </div>
                <div class="col-3">
                     Email
                    <br> ecommerceshop@ecom.com
                </div>
            </div>
        </div>
    </div>
</footer>
